/* common style  */
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
.container{
	margin-bottom: 70px;
}
/* copa america title style  */
.copa-america{
	background-color: #2D25A0;
	display: flex;
}
.capa-america-title{
	font-size: 64px;
	font-weight: 700;
	color: #FFFFFF;
	padding-left: 156px;
	margin-bottom: 10px;
	margin-top: 207px;
}
button{
	background-color: #E02C6D;
	color: #FFFFFF;
	padding: 10px 24px;
	margin-bottom: 169px;
}
button:hover{
	transform: scale(1.5);
}
.image-football img{
	width: 556.01px;
	height: 438px;
	padding-left: 102px;
	margin-top: 153px;
}
/* players style  */
.players-details .players-info{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-row-gap:27px;
	grid-column-gap: 30px;
	margin-left: 180px;
}


.player-image img{
	width: 300px;
	height: 256px;
}
.player-details{
	width: 300px;
	color:#6C6C6C;
}
/* footer style  */
.banner-style{
	display: flex;
	flex-direction: column;
	align-items: center;
}
 .icon{
	margin-top: 20px;
	margin-bottom: 20px;
}
.fab{
	width: 32px;
	height: 32px;
	border:gray;
	border-radius: 1px solid gray;
}
/* media screen  */
 /* mobile devise */
@media only screen and (max-width:688px) {
	.copa-america{
		display: flex;
		flex-direction: column;
		
	}
	 .capa-america-title{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 64px;
		padding-left: 5px;

	}
	
	 .capa-america-title p, .image-football img{
		width: 90%;
		padding-left: 7%;
	
	 } 
		
	.players-details .players-info{
		grid-template-columns: repeat(1, 1fr);
		margin: 0 35px;
	}

	.banner-style img{
		width: 80%;
		
	}